*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    background: linear-gradient( to right, rgb(172, 170, 170) 40%, rgb(117, 186, 251) );
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
    max-height: 5vh;
    box-shadow: 2px 2px 10px rgb(126, 124, 124);
}

.icon-left a img{
    width: 2.5vw;
    margin-left: 1rem;

}
.navbar ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.navbar ul li {
    list-style-type: none;
    margin: 1.3rem;
}
.navbar ul {
    display: flex;
    background-color:rgb(248, 244, 239);
    border-radius: 10px;
    height: 7.5vh;
    justify-content: end;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(126, 124, 124);
}
.icon-right a i{
    color: black;
    font-size: 3vh;
    margin: .3rem;
}
.icon-right a i:hover{
    font-size: 5rem;
}
.navbar ul li a:hover{
    font-size: 2rem;
    text-shadow:2px 2px 8px goldenrod;
}
@media screen and (max-width: 600px){
    .navbar ul{
        display:flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }
}


